.row-item:nth-child(even) {
    background-color: rgba(233, 237, 242, .45);
}

.row-header :nth-child(2) {
    max-width: 7.71vw !important;
}

.row-header :nth-child(3) {
    width: 10.151vw !important;
}

.row-header :nth-child(4) {
    width: 15.9vw !important;
}

.row-header :nth-child(5) {
    width: 4.56vw !important;
}

.row-header :nth-child(6) {
    width: 4.86vw !important;
}

.row-header .id {
    cursor: pointer;
}

.search-input-block {
    display: flex;
}

.search-input {
    position: relative;
}

.filterLabel {
    width: 100%;
    height: 100%;
}

#selectItemsFilter .select-option {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.search-input-selector {
    position: absolute;
    width: 100%;
    top: 95%;
    background-color: white;
    z-index: 99;
    line-height: 0;
    border: 0.052vw solid #d7dee6;
    box-shadow: 0vw 0.1vw 0.126vw 0.032vw #d7dee6;
    border-radius: 0.417vw;
    border-top: none;
}

.search-input-selector label {
    font-family: Rubik;
    font-weight: 300;
    font-size: .782vw;
    line-height: .834vw;
    letter-spacing: .01vw;
    color: #869dc8;
    padding-left: 3.91vw;
    padding-right: 3.91vw;
    padding-top: 0.626vw;
    padding-bottom: 0.521vw;
    cursor: pointer;
    color: #869dc8;
    line-height: .834vw;
}

.search-input-selector label:hover {
    background: rgba(233, 237, 242, 0.7);
}

.closeFilter {
    position: absolute;
    right: 0.5vw;
    top: 0.8vw;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1vw;
    background: #fff;
    cursor: pointer;
    border: none !important;
}

.closeFilter img {
    width: 1.033vw;
    height: 1.033vw;
}

.hidden {
    display: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

.error {
    border: 1px solid red !important;
}

.size-field {
    text-transform: uppercase;
}