@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';

.login-page {
    background: #ABCDEF;
    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 100vh;
}

.login-page .login {
    color: white;
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
    margin: auto;
    box-shadow:
            0px 2px 10px rgba(0, 0, 0, 0.2),
            0px 10px 20px rgba(0, 0, 0, 0.3),
            0px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 50px;
}

.login-page .login .head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page .login .head .company {
    font-size: 2.2em;
}

.login-page .login .msg {
    text-align: center;
    color: red;
}

.login-page .login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
}

.login-page .login .form .text::placeholder {
    color: #D3D3D3;
}

.login-page .login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px white;
    width: 100%;
    color: white;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.login-page .login .form .password::placeholder {
    color: #D3D3D3;
}

.login-page .login .form .btn-login {
    background: none;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 3px;
    padding: 5px 2em;
    transition: 0.5s;
}

.login-page .login .form .btn-login:hover {
    background: white;
    color: dimgray;
    transition: 0.5s;
}

.login-page .login .forgot {
    text-decoration: none;
    color: white;
    float: right;
}

.login-page footer {
    position: absolute;
    color: #136a8a;
    bottom: 10px;
    padding-left: 20px;
}

.login-page footer p {
    display: inline;
}

.login-page footer a {
    color: green;
    text-decoration: none;
}

.login-page footer a:hover {
    text-decoration: underline;
}

.login-page footer .heart {
    color: #B22222;
    font-size: 1.5em
}

.login-page .overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 99999999;
}

.login-page .overlay.active {
    display: block;
    z-index: 99999999;
}

.login-page .overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-page .overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-page .spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.5);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}