.soon {
    display: block;
    line-height: 1vw !important;
}

.soon span {
    font-size: 0.65vw;
}

.filterLabel {
    width: 100%;
    height: 100%;
}

#selectItemsFilter .select-option {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.let-know-required {
    display: none;
    font-weight: 400;
    font-size: 0.678vw;
    line-height: 0.73vw;
    letter-spacing: 0.01vw;
    margin-top: 0.782vw;
}

.let-know-required.active {
    display: block;
}

.overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    z-index: 99999999;
}

.overlay.active {
    display: block;
    z-index: 99999999;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.5);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

.no-absolute {
    position: static !important;
}

.name {
    vertical-align: top !important;
}

.desc {
    vertical-align: top !important;
    padding-right: 25px !important;
}

.flex {
    align-items: flex-start !important;
    display: inline-block !important;
}

.flex-start {
    padding-top: 0.5vw;
}

.coins {
    vertical-align: top !important;
}

.row-item:nth-child(even) {
    background-color: rgba(233, 237, 242, .45);
}



*,
*::after,
*::before {
    vertical-align: top !important;
}


.remove-span {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border: none;
    background: #fafcfb;
    border-left: 0.052vw solid #e3e8ee;
    cursor: pointer;
    margin-left: 0.678vw;
    font: inherit;
    padding: 1px 6px;
}


.remove-span::after {
    content: "";
    background: url(../img/tag-remove-icon.svg) no-repeat center top/cover;
    width: 0.574vw;
    height: 0.574vw;
    display: block;
}

.Archived-statu {
    opacity: 0.3;
}

.department-field {
    padding-left: 2.086vw !important;
    color: #1b2438;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Karla";
    font-weight: 500;
    font-size: 1.043vw;
    line-height: 2.503vw;
    letter-spacing: .014vw;
    color: #1b2438;
    margin-right: 5px;
    transition: 0.4s;
    border-radius: .521vw;
}

.search-input-block {
    display: flex;
}

.search-input {
    position: relative;
}

.search-input-selector {
    position: absolute;
    width: 100%;
    top: 95%;
    background-color: white;
    z-index: 99;
    line-height: 0;
    border: 0.052vw solid #d7dee6;
    box-shadow: 0vw 0.1vw 0.126vw 0.032vw #d7dee6;
    border-radius: 0.417vw;
    /* border-bottom-right-radius: 0.417vw;
    border-bottom-left-radius: 0.417vw; */
    border-top: none;
}

.search-input-selector label {
    font-family: Rubik;
    font-weight: 300;
    font-size: .782vw;
    line-height: .834vw;
    letter-spacing: .01vw;
    color: #869dc8;
    padding-left: 3.91vw;
    padding-right: 3.91vw;
    padding-top: 0.626vw;
    padding-bottom: 0.521vw;
    cursor: pointer;
    color: #869dc8;
    line-height: .834vw;
}

.search-input-selector label:hover {
    background: rgba(233, 237, 242, 0.7);
}

.closeFilter {
    position: absolute;
    right: 0.5vw;
    top: 0.8vw;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1vw;
    background: #fff;
    cursor: pointer;
    border: none !important;
}

.closeFilter img {
    width: 1.033vw;
    height: 1.033vw;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

.editableInput {
    pointer-events: all; border: 0.104vw solid rgb(228, 232, 238); width: 100%; padding-right: 2.086vw; margin-right: 15px;
    color: #1b2438;
}